{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "max-len": [
      1,
      120,
      2,
      {
        "ignoreComments": true
      }
    ],
    "no-undef": "off",
    "react/no-unescaped-entities": "off",
    "no-console": "off",
    "no-debugger": "off",
    "no-case-declarations": "off",
    "react/display-name": "off"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React"
    },
    "propWrapperFunctions": ["forbidExtraProps"]
  }
}
