.MediaItems {
  list-style-type: none;
  text-transform: capitalize;
}

.MediaItems a {
  color: #555;
}

@media (max-width: 570px) {
  .MediaItems {
    transform: translateX(100%);
    margin-top: 44px;
    animation: showUpMan 1s linear 1.2s forwards;
  }

  .MediaItems a {
    color: white;
  }
}

@keyframes showUpMan {
  50% {
    transform: translateX(-25%);
  }

  75% {
    transform: translateX(15%);
  }

  90% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0%);
  }
}