.DrawerToggle {
  position: fixed;
  right: 33px;
  bottom: 26px;
  cursor: pointer;
  display: flex;
  width: 107px;
  height: 51px;
  z-index: 101;
  border-radius: 30px;
}

/* TODO: hacer que la animacion del menu sea moviendose 50 75 100 asi como efecto resorte (fijarse el sitio) */

.menu {
  padding: 10px 3px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: cornflowerblue;
  font-family: overpass, helvetica, arial, sans-serif;
  letter-spacing: -1px;
  font-size: 1.2rem;
}

.divsContainer {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 3px;
  box-sizing: border-box;
  cursor: pointer;
}

.divsContainer div {
  width: 90%;
  height: 3px;
  background-color: cornflowerblue;
}

.DrawerToggle.noActive {
  animation: showUpMan 0.5s linear;
}

.DrawerToggle.active .menu {
  color: white;
}

.DrawerToggle.active .divsContainer div {
  background-color: white;
  animation: rotateToDie 2s ease-out;
}

.divsContainer .active:first-child {
  position: relative;
  top: 8px;
  transform: rotate(45deg);
}

.divsContainer .active:last-child {
  position: relative;
  top: -7px;
  transform: rotate(135deg);
}

.divsContainer .active:nth-child(2) {
  display: none;
}

@keyframes rotateToDie {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1080%);
  }
}
@keyframes showUpMan {
  0% {
    transform: translateY(100%);
  }

  50% {
    transform: translateY(-25%);
  }

  75% {
    transform: translateY(15%);
  }

  90% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(0%);
  }
}
